.detCont {
  /* padding: 5vw; */
  display: grid;
  justify-content: space-around;
  grid-template-columns: repeat(4, 25vw);

  grid-column: auto;
  color: white;
  width: 100vw;
  min-height: 93.5vh;
  background-image: linear-gradient(
    112.1deg,
    rgba(32, 38, 57, 1) 11.4%,
    rgba(63, 76, 119, 1) 70.2%
  );
}

.webdiv {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
}

.webdiv > img {
  padding-top: 5vh;
  width: 100%;
  height: 70%;
}

.info {
  /* margin-top: 5vh; */
  grid-column: 2 / 5;
  grid-row: 1 / 2;
  background-image: linear-gradient(
    180.4deg,
    rgba(188, 120, 236, 1) -2.2%,
    rgba(29, 133, 163, 1) 83.5%
  );
  clip-path: polygon(0 0, 100% 0, 100% 100%, 20% 100%);
  height: 64.75%;
  height: auto;
  opacity: 0.8;
  color: white;
  display: flex;
  flex-direction: column;
  padding-left: 10vw;
  text-overflow: ellipsis;
  overflow: hidden;
  align-content: flex-start;
  justify-content: center;
}

.links {
  display: grid;
  grid-column: 1 / 5;
  justify-content: center;
}

.links > ul {
  list-style: none;
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}
