.mainCont {
  display: grid;
  min-height: 50vh;
  background-color: white;
  background-repeat: no-repeat;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  grid-template-columns: 60% 30%;
  gap: 10%;
  overflow: hidden;
  z-index: -1;
}

.profCont {
  display: grid;
  padding-left: 20px;
  z-index: 1;
  justify-content: left;
  align-content: center;
}

.profCont h1 {
  text-transform: capitalize;
  /* text-decoration: overline underline; */
  font-family: 'Times New Roman', Times, serif;
  z-index: 0;
}

.profCont h2 {
  font-size: 3rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  z-index: 0;
}

.profImg {
  display: grid;
  z-index: 0;
  justify-content: center;
  align-content: center;
}

.bloCont {
  background-color: rgb(34, 30, 30);
}

.thirdC {
  padding-bottom: 10rem;
}
