.cont {
  width: 80vw;
  min-height: 100%;
  padding: 2rem;

  display: grid;

  grid-template-columns: 30% 70%;
}

.images {
  width: 20vw;
  height: 76vh;
  overflow-y: scroll;
  display: grid;
  gap: 2rem;
}

.appImage {
  width: 20vw;
  height: fit-content;
}

.main {
  width: 52vw;
  gap: 10%;

  display: grid;
  grid-template-rows: 10% 60% 10%;

  align-items: start;
}

.expHead {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
}

.name {
  font-size: 50px;
}

.title {
  font-size: 30px;
}

.headingList {
  display: grid;
  gap: 1rem;
}

.headingItem {
  display: grid;
  grid-template-columns: 10vw 40vw;
}

.links {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  gap: 2rem;
}

.linkHead {
  font-size: 20px;
}

.link {
  color: var(--primary);
}

@media screen and (max-width: 1190px) {
  .main {
    grid-template-rows: 20% 50% 10%;

    align-items: start;
  }
}

@media screen and (max-width: 1100px) {
  .cont {
    grid-template-columns: 100%;
  }

  .images {
    width: 74vw;
    height: 17vh;
    grid-auto-flow: column;
  }

  .appImage {
    height: 20vh;
    width: fit-content;
  }

  .main {
    width: 70vw;
    min-height: 60vh;
    grid-template-rows: 15% 60% 10%;
  }

  .headingItem {
    grid-template-columns: 30% 70%;
  }
}

@media screen and (max-width: 890px) {
  .main {
    /* height: 80vh; */
  }
}

@media screen and (max-width: 810px) {
  .images {
    width: 72vw;
    height: 12vh;
  }
}

@media screen and (max-width: 720px) {
  .images {
    height: 12vh;
  }

  .appImage {
    height: 10vh;
    width: fit-content;
  }

  .main {
    width: 60vw;
    grid-template-rows: 27% 55% 5%;
  }

  .headingItem {
    font-size: 13px;
    grid-template-columns: 100%;
  }
}

@media screen and (max-width: 520px) {
  .images {
    height: 12vh;
    width: 66vw;
  }

  .main {
    width: 60vw;
    grid-template-rows: 27% 50% 5%;
  }

  .headingItem {
    grid-template-columns: 100%;
  }
}

@media screen and (max-width: 470px) {
  .images {
    height: 12vh;
    width: 66vw;
  }

  .main {
    width: 60vw;
    grid-template-rows: 10% 50% 5%;
  }

  .name {
    font-size: 20px;
  }
}

@media screen and (max-width: 400px) {
  .images {
    height: 12vh;
    width: 66vw;
  }

  .main {
    width: 60vw;
    grid-template-rows: 10% 60% 5%;
  }

  .name {
    font-size: 20px;
  }
}
