.cont {
  width: 80vw;
  height: 80vh;
  border-radius: 2rem;
  padding: 2rem;

  display: grid;
  grid-template-columns: 30% 80%;

  box-shadow: var(--primary) 0px 50px 100px -20px,
    var(--secondary) 0px 30px 60px -30px;
}

.left {
  display: grid;
  grid-template-rows: 15vw;
}

.imageDiv {
  transform: translateY(-10vh);
}

.image {
  width: 15vw;
  height: 15vw;

  border-radius: 7.5vw;
  box-shadow: var(--primary) 0px 8px 20px;

  animation: pop 1s ease-in;
}

.right {
  width: 50vw;
  height: 80vh;
}

.salutation {
  width: 50vw;
  transform: translateY(-10vh);
}

.hello {
  font-size: 100px;
  animation: rotateandpop 0.5s ease-in;
}

.name {
  font-size: 80px;
}

.intro {
  width: 50vw;
  font-size: 20px;
}

.logos {
  display: flex;
  gap: 2rem;
  padding-top: 10vh;
}

.logoImages {
  height: 10vh;
  width: fit-content;
}

@keyframes pop {
  0% {
    transform: translateX(-100px) translateY(-100px);
  }
  50% {
    transform: translateX(-40px) translateY(-10px);
  }
  60% {
    transform: translateX(-40px) translateY(0px);
  }
  80% {
    transform: translateX(-20px) translateY(-40px);
  }
  95% {
    transform: translateX(0px) translateY(-10px);
  }
  100% {
    transform: translateX(0) translateY(0);
  }
}

@keyframes rotateandpop {
  0% {
    transform: scale(0) rotate(-360deg);
  }
  100% {
    transform: scale(1) rotate(0deg);
  }
}
