.cont {
  width: 80vw;
  min-height: 80vh;
  border-radius: 2rem;
  padding: 2rem;

  margin-top: 10vh;

  display: grid;
  grid-template-columns: 30% 80%;

  box-shadow: var(--primary) 0px 50px 100px -20px,
    var(--secondary) 0px 30px 60px -30px;
}

.left {
  display: grid;
  grid-template-rows: 15vw;
}

.imageDiv {
  transform: translateY(-10vh);
  width: 14vw;
  height: 14vw;
  border-radius: 7vw;
  box-shadow: var(--primary) 0px 0px 20px;
}

.image {
  width: 15vw;
  height: 15vw;
  margin-left: -0.5vw;
  margin-top: -0.5vw;

  /* border-radius: 7.5vw;
  box-shadow: var(--primary) 0px 8px 20px; */

  animation: pop 0.5s linear;
}

.right {
  width: 50vw;
  /* height: 80vh; */
}

.salutation {
  width: 50vw;
  transform: translateY(-10vh);
}

.hello {
  font-size: 100px;
  animation: rotateandpop 0.5s ease-in;
}

.name {
  font-size: 80px;
}

.intro {
  width: 50vw;
  font-size: 20px;
}

.logos {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding-top: 10vh;
}

.logoImages {
  height: 10vh;
  width: fit-content;
}

@keyframes pop {
  0% {
    transform: rotateX(-90deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}

@keyframes rotateandpop {
  0% {
    transform: scale(0) rotate(-360deg);
  }
  100% {
    transform: scale(1) rotate(0deg);
  }
}
