.expCont {
  width: 80vw;
  min-height: 80vh;
  padding-top: 5vh;
  margin-top: 5vh;
  margin-left: 10vw;
  border-style: solid none none none;
}

.expDiv {
  display: grid;
  place-items: center;
  width: 80vw;
  /* background-color: white; */
}
